.languageSelector {
  padding-left: 10px;
}

.element {
  display: flex;
  align-items: center;

  .flag {
    height: 17px;
    width: 23px;
    margin: 0 5px;
    box-shadow: rgb(204, 204, 204) 1px 1px 3px;
  }
}