<!doctype html>
<html lang="fr">
<head>
  <title>Unfollow NINJA</title>
  <meta charset="utf-8">
  <meta name="description" content="Soyez prévenus en quelques secondes de vos unfollow ! Unfollow NINJA est un projet open-source écrit en node-js vous permettant de détecter vos unfollows chaque minute (+ pour les comptes avec 5000+ followers)."/>
  <link rel="alternate" hreflang="fr" href="https://unfollowninja.fr/">

    <meta property="og:title" content="Unfollow NINJA"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://unfollowninja.fr/"/>
    <meta property="og:image" content="http://i.imgur.com/rRsa7iy.jpg"/>
    <meta property="og:site_name" content="Uzzy"/>
    <meta property="og:description" content="Soyez prévenus en quelques secondes de vos unfollow ! Unfollow NINJA est un projet open-source écrit en node-js vous permettant de détecter vos unfollows chaque minute (+ pour les comptes avec 5000+ followers)."/>

    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@unfollow_ninja"/>
    <meta name="twitter:domain" content="https://unfollowninja.fr/"/>
    <meta name="twitter:description" content="Soyez prévenus en quelques secondes de vos unfollow ! Unfollow NINJA est un projet open-source écrit en node-js vous permettant de détecter vos unfollows chaque minute (+ pour les comptes avec 5000+ followers)."/>
    <meta name="twitter:image" content="http://i.imgur.com/rRsa7iy.jpg"/>

  <link rel="stylesheet" href="/styles.css">

</head>
<body>

<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <header class="mdl-layout__header mdl-layout__header--transparent">
        <img src="/images/title.png" class="logo" alt="logo Unfollow NINJA">

        <a href="https://github.com/MrPointVirgule/unfollowNinja" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;max-width:20vw;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>
    </header>

    <main class="mdl-layout__content">
        <div class="demo-container mdl-grid" style="max-width:700px;">


            <div class="introCard mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
                <div class="mdl-card__title mdl-card--expand">
                        <h2 class="mdl-card__title-text">Découvrez qui vous unfollow</h2>
                </div>
                <div class="chat mdl-card--expand">
                        <!--inspiré de https://css-tricks.com/replicating-google-hangouts-chat/-->
                        <ol class="discussion">
                            <li>
                                <div class="avatar">
                                    <!-- image de https://carlorodriguez.github.io/blog/2015/03/16/ninja-things-flat-icons-set/ - free for commercial use -->
                                    <img src="/images/ninja.svg" alt="profile picture - ninja" />
                                </div>
                                <div class="messages">
                                    <p><b>@unTwittos</b> vous a unfollow :/... Il vous a suivi pendant une semaine (jeudi dernier à 18:42)
                                    </p>
                                    <time datetime="2015-08-22T20:14">37 mins</time>
                                </div>
                            </li>
                        </ol>
                </div>

                <div class="mdl-card__supporting-text">
                    <b>Soyez prévenus en quelques secondes de vos unfollow !</b>
                    <p>Unfollow NINJA est un projet open-source écrit en node-js vous permettant de détecter vos unfollows chaque minute (+ pour les comptes avec 5000+ followers).</p>
                </div>
            </div>


            <%- content %>

        </div>
        <a href="https://paypal.me/paullouis/10" target="_blank"><img src="/images/boutonDon.png" id="boutonDon" alt="Dites merci, faite un don !" ></a>

    </main>

    <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
            <div class="mdl-logo">Unfollow NINJA</div>
            <ul class="mdl-mini-footer__link-list">
                <li><a href="https://uzzy.me/fr/CGU/">CGU</a></li>
                <li><a href="https://uzzy.me/" target="_blank">découvrez aussi  <img src="https://uzzy.me/img/logo.svg" alt="logo Uzzy" style="height:18px;"> !</a></li>
            </ul>
        </div>
        <div class="mdl-mini-footer__right-section">
            <ul class="mdl-mini-footer__link-list">
                <li><a href="https://github.com/MrPointVirgule/unfollowNinja" target="_blank">Unfollow Ninja sur GitHub</a></li>
                <li>proposé par <a href="https://twitter.com/MrPointVirgule" target="_blank">@MrPointVirgule</a></li>
            </ul>
        </div>
    </footer>

</div>
<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.teal-orange.min.css" />
<script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script>
</body>
</html>