<div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__supporting-text mdl-grid">
        <div class="stepNumber mdl-cell mdl-cell--2-col mdl-cell--6-col-phone">
            <a href="/step1/auth" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--accent">
                1
            </a>
        </div>
        <div class="section__text mdl-cell mdl-cell--10-col mdl-cell--6-col-tablet">
            <h5>Connectez-vous à votre compte</h5>
            <p>Connectez-vous à votre compte principal, sur lequel les unfollows seront détéctés.</p>
        </div>

        <div class="stepNumber mdl-cell mdl-cell--2-col mdl-cell--6-col-phone">
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--accent" disabled>
                2
            </button>
        </div>
        <div class="section__text mdl-cell mdl-cell--10-col mdl-cell--6-col-tablet">
            <h5>Choisissez le compte qui vous enverra vos DMs</h5>
            <p>Cela peut être votre propre compte, ou un autre compte fait pour.</p>
        </div>

        <div class="stepNumber mdl-cell mdl-cell--2-col mdl-cell--6-col-phone">
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--accent" disabled>
                3
            </button>
        </div>
        <div class="section__text mdl-cell mdl-cell--10-col mdl-cell--6-col-tablet">
            <h5>Suivez le projet sur Twitter</h5>
            <p>Pour être au courant de toutes les nouveautés, suivez-nous sur twitter !</p>
                        <span  style="float:right;">
                            <a href="https://twitter.com/unfollow_ninja" class="twitter-follow-button" data-show-count="false">Follow @unfollow_ninja</a>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                        </span>
        </div>
    </div>
</div>