body {
    background-image:url("images/background.jpg");
    background-size: cover;
    background-position-y:bottom;
    background-attachment: fixed;
}
.logo {
    margin:30px auto;
    width:720px;
    max-width:70vw;
}

.introCard > .mdl-card__title{
    color: #fff;
    background: #FF9800;
}

.introCard >  .chat .avatar {
    background: #46B6AC;
}

.stepNumber {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.stepNumber a {
	text-align:center;
    line-height:53px;
}
.stepNumber .mdl-button {
    color: white!important;
    background-size:cover;
}


footer.mdl-mini-footer {
	padding:0 16px;
	background-color: rgba(66, 66, 66, 0.65);
}


/*NINJA chat discussion inspiré de https://css-tricks.com/replicating-google-hangouts-chat/ */

.discussion {
    list-style: none;
    background: #e5e5e5;
    margin: 0;
    padding: 0;
}
.discussion li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.discussion .avatar {
    width: 40px;
    position: relative;
    order: 2;
}
.discussion .avatar img {
    display: block;
    width: 100%;
}

.discussion .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.discussion .messages {
    order: 1;
    background: white;
    padding: 10px;
    border-radius: 2px 2px 0 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.discussion .messages p {
    font-size: 0.8rem;
    margin: 0 0 0.2rem 0;
}
.discussion .messages time {
    font-size: 0.7rem;
    color: #ccc;
}
